.editor-btns {
  :global(.ant-form-item-control-input-content){
    display: flex;
    justify-content: space-between;
  }
}

.facePan {
  width: 400px;
  ul {
    display: flex;
    flex-wrap: wrap;
    >li {
      padding: 3px;
      font-size: 16px;
    }
  }
}

.listContent {
  
}