/*代表html元素的样式*/
:root.light { /*白天*/
  --bg-color:#e7eaee;
  --main-bg-color: #fff;
  --main-text-color: #282c35;
  --bg-code:#ccc;
} 

:root.dark { /*黑夜*/
  --bg-color:#282c35;
  --main-bg-color: #fff;
  --main-text-color: #282c35;
  --bg-code:#ccc;
}

#root {
  background-color: var(--bg-color);  
}
